.page-title-subtitle {
    border-bottom: 1px solid #efefef;
    padding: 60px 0;
    margin-bottom: 50px;
    overflow: hidden;
}

.page-title-subtitle h2 {
    font-size: 48px;
    line-height: inherit;
    margin-bottom: 13px;
    font-weight: 300;
    color: #444;
    @media only screen and (max-width: 425px) {
        font-size: 40px;
        line-height: 62px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.page-title-subtitle h3 {
    font-size: 24px;
    color: #999;
    padding-top: 20px;
    margin-bottom: 0px;
    @media only screen and (max-width: 425px) {
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* slider-serenia - CAROUSEL */
#slider-serenia{
        #carousel-arebi{
            .carousel-indicators{
                bottom: 0;
                li{
                    width: 26px;
                    height: 6px;
                    margin: 0;
                    cursor: pointer;
                    border-radius: 0;
                    border-color: #fff;
                    background: transparent;
                }
                li.active{
                    background: rgba(255,255,255,.8);
                }
            }
            .carousel-inner{
                height: 1080px;
                .carousel-caption{
                    h1{
                        padding: 20px;
                        color: #fff;
                        font-size: large;
                        font-weight: 500;
                        font-size: 38px;
                        opacity: 1;
                        -webkit-animation-delay: 4s;
                        -moz-animation-delay:4s;
                        animation-delay:4s;
                    }
                    hr{
                       width: 650px;
                        opacity: 1;
                        -webkit-animation-delay: 2s;
                        -moz-animation-delay: 2s;
                        animation-delay: 2s;
                    }
                }
                .carousel-tagline{
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                    h3{
                        color: #fff;
                        font-size: 64px;
                        font-weight: 100;
                        width: 500px;
                        line-height: 1;
                        float: right;
                        margin: 100px;
                        &:first-child{
                            opacity: 1;
                            -webkit-animation-delay: 3s;
                            -moz-animation-delay: 3s;
                            animation-delay: 3s;
                        }
                    }
                }
                .signature{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-signature-1920x1080.png) no-repeat center;
                }
                .quantum{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-quantum-1920x1080.png) no-repeat center;
                }
                .venture{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-venture-1920x1080.png) no-repeat center;
                }
            }
            .carousel-control.right,
            .carousel-control.left{
                background-image: none;
                span {
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    @media screen and (max-width: 425px) {
                        right: 10px;
                    }
                }
            }
        }
        .carousel{
            .item{
                min-height: 500px; 
                height: 100%;
                width: 100%; 
            }
            .icon-container {
                display: inline-block;
                font-size: 25px;
                line-height: 25px;
                padding: 1em;
                text-align: center;
                border-radius: 50%;
            }
        }
}

// serenia-hills-content

html {
    height: 100%;
}
body{
    font-family: 'gotham' arial, sans-serif !important;
    src: url('http://www.rumah123.com/fonts/gotham/gotham-book-webfont.eot'), url('http://www.rumah123.com/fonts/gotham/gotham-book-webfont.woff') format('woff'), url('http://www.rumah123.com/fonts/gotham/gotham-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    .disabled-onepage-scroll {
        .onepage-wrapper {
            section {
                min-height: 100%;
                height: auto;
            }
        }
    }
}

#serenia-body {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.main {
    section {
        .page-container {
            position: relative;
            z-index: 3;
        }
        overflow: hidden;
    }
}

.banner{
    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/banner-serenia-hills.png) no-repeat center;
    .page-container{
        margin: 300px 0 0 0;
        .banner-serenia{
            img{
                width: 330px;
            }
        }
        .title-serenia{
            position: relative;
            h1{
                margin: 0;
                color: #fff;
                font-size: 60px;
                font-weight: 100;
            }
            span{
                font-size: 30px;
                color: #fff;
                letter-spacing: 9px;
                font-weight: 100;
            }
        }
    }
}

@color_1: #7f745e;
@color_2: #7F745E;
@color_3: #EDEBE8;
@color_4: #000;
@color_5: #c1baab;
@color_6: #fff;
@background_color_1: #DBD8C6;
@background_color_2: #7F745E;
@background_color_3: transparent;

.nav-tabs {
    >li {
        float: left;
        width: 960px;
        height: 120px;
        >a {
            text-align: -webkit-center;
            letter-spacing: 5px;
            color: @color_1;
            height: 120px;
            margin: 0px;
        }
    }
    height: 120px;
    font-size: 48px;
    background-color: @background_color_1;
    color: @color_2;
    text-transform: uppercase;
    >li.active {
        >a {
            color: @color_3;
            background-color: @background_color_2;
            cursor: default;
            height: 120px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
            border-radius: 0px;
            &:hover {
                color: @color_3;
                background-color: @background_color_2;
                cursor: default;
                height: 120px;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                transition: all 0.4s ease;
                border-radius: 0px;
            }
            &:focus {
                color: @color_3;
                background-color: @background_color_2;
                cursor: default;
                height: 120px;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                transition: all 0.4s ease;
                border-radius: 0px;
            }
        }
    }
}
.top {
    margin-top: 50px;
}
.images-amenities {
    position: relative;
    bottom: 120px;
}

.nav-tabs-images {
    background: transparent;
    border: 0;
    font-size: 28px;
    height: 70px;
    color: #000;
    z-index: 1;
    position: relative;
    li {
        float: left;
        width: 460px;
        height: 70px;
        >a {
            text-align: -webkit-center;
            letter-spacing: 5px;
            color: #c1baab;
            height: 70px;
            margin: 0px;
        }
    }
    >li.active {
        >a {
            color: #fff;
            background-color: @background_color_1;
            cursor: default;
            height: 70px;
            border: 0px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
            &:hover {
                color: #fff;
                background-color: @background_color_1;
                cursor: default;
                height: 70px;
                border: 0px;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
            &:focus {
                color: #fff;
                background-color: transparent;
                cursor: default;
                height: 70px;
                border: 0px;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
    }
    >li {
        >a {
            &:hover {
                border: 0px;
            }
        }
    }
}

.facility {
    .page-container {
        .container {
            position: absolute;
            top: 750%;
            z-index: 1;
            text-align: -webkit-center;
            width: 100%;
            .logo-amenities {
                .title-logo-amenities {
                    width: 200px;
                    height: 150px;
                    display: inline-block;
                    color: @color_6;
                    p {
                        color: @color_6;
                        font-size: 28px;
                        line-height: 30px;
                    }
                    img {
                        height: 98px;
                    }
                }
            }
        }
        .tabpanel{
            .nav-tabs{   
            }
            .serenia-tab-content{
                position: absolute;
                .tabpanel{
                    .container-fluid{
                        .tabpanel{
                            .tab-content{
                                .images-amenities {
                                    position: relative;
                                    bottom: 120px;
                                }
                            }    
                        }
                    }  
                }
            }
        }
    }
}

.location {
    background-color: #7F745E;
    .container-fluid{
        .row{
            .col-lg-12{
                .col-lg-6{
                    .location-serenia-images{
                        .col-lg-4{
                            padding: 0;
                            .facility-images{
                                background-color: #000;
                                position: relative;
                                img{
                                    opacity: 0.4;
                                    &:hover{
                                        opacity: 1;
                                        background-color: #000;
                                         -webkit-transition: all 0.5s ease;
                                        -moz-transition: all 0.5s ease;
                                        -ms-transition: all 0.5s ease;
                                        transition: all 0.5s ease;
                                    }
                                }
                                h1{
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 40%;
                                    color: #fff;
                                    font-size: 38px;
                                    letter-spacing: 3px;
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.product {
    background-color: #EDEBE8;
}

.facility {
    background-color: #fff;
    .page-container{
        
    }
}

.footer-serenia {
    background-color: #DBD8C6;
    background-image: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/serenia-hills-logo.png);
    .page-container{
        padding: 100px 0 100px 0;
        .container{
            .logo-footer{
                text-align: -webkit-center;
                margin: 50px 0 50px 0;
                img{

                }
            }
            .title-footer{
                margin: 80px 0px 0px 0px;
                h1{
                    font-size: 48px;
                    color:#7F745E;
                    font-weight: 700;
                }
                p{
                    font-size: 28px;
                    color:#7F745E;
                }
            }
            .form-input-serenia{
                margin: 85px 0 85px 0;
                .input-group{
                    width:100%;
                    input{
                        height: 75px;
                        border-radius: 100px;
                        box-shadow: 0px -1px 0px 0px;
                        font-size: 28px;
                        color: #7F745E;
                        text-align: -webkit-center;
                        background-color: #EDEBE8;
                        border: 1px solid #DBD8C6; 
                    }
                }
                button{
                    height: 75px;
                    border-radius: 100px;
                    box-shadow: 0 -1px 0 0;
                    font-size: 28px;
                    color: #EDEBE8;
                    text-align: -webkit-center;
                    background-color: #7F745E;
                    padding: 0 73px 0 75px;
                    border: 2px solid #7F745E;
                    letter-spacing: 5px;
                    &:hover{
                        background-color: #443e31;
                        border: 2px solid #443e31;
                        -webkit-transition: all 1s ease;
                        -moz-transition: all 1s ease;
                        -ms-transition: all 1s ease;
                        transition: all 1s ease;
                    }    
                }
            }
        }
    }
}
.no-padding {
    padding: 0;
}

// modal-box
#myModal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                text-align: -webkit-center;
                border-bottom: 0px solid #e5e5e5;
                .close{
                    color: #7f745e;
                    font-size: 123px;
                    font-weight: 300;
                    float: left;
                    opacity: 1;
                }
                .modal-title{
                    font-size: 48px;
                    letter-spacing: 11px;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 500px;
                    // border: 1px solid;
                    hr{
                        border: 6px solid #7F745E;
                        width: 150px;
                    }
                }
            }
            .modal-body{
                background-color: #fff;
                height: 100%;
            }
            .modal-footer{

            }
        }
    }
}


