.page-title-subtitle {
    border-bottom: 1px solid #efefef;
    padding: 60px 0;
    margin-bottom: 50px;
    overflow: hidden;
}

.page-title-subtitle h2 {
    font-size: 48px;
    line-height: inherit;
    margin-bottom: 13px;
    font-weight: 300;
    color: #444;
    @media only screen and (max-width: 425px) {
        font-size: 40px;
        line-height: 62px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.page-title-subtitle h3 {
    font-size: 24px;
    color: #999;
    padding-top: 20px;
    margin-bottom: 0px;
    @media only screen and (max-width: 425px) {
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.blog-page.single .post-content {
    border: 0;
}
.blog-page{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    margin-right: 4%;
}
.kegiatan-arebi{
    .post {
        position: relative;
        overflow: hidden;
        max-height: 500px;
        width: 100%;
    }
}

.post {
    position: relative;
}

.post-content {
    clear: both;
    position: relative;
    padding: 20px 0 15px;
    margin-top: -1px;
    overflow: hidden;
    border-bottom: 1px solid #cacaca;
}
.post-read-more {
    font-size: 13px;
    font-weight: bold;
    float: right;
}
.masonry-title {
    clear: both;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color:#444;
    text-transform: uppercase;
}
.masonry-title a{
    color:#444;
    text-transform: uppercase;
}
.post-content .post-meta {
    font-size: 12px;
    text-transform: uppercase;
    color: #A3A2A2;
    padding-bottom: 13px;
    display: block;
}
.post-meta i {
    width: 20px;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 12px;
    color: #686868;
}
.post-meta em {
    font-style: normal;
}

p {
    margin-bottom: 20px;
}
.dropcap2 {
    float: left;
    font-size: 36px;
    line-height: 26px;
    padding-right: 10px;
    padding-top: 8px;
}
blockquote {
    border-left: 2px solid #ebebeb;
    color: #787878;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin: 20px 50px;
    padding: 0 0 5px 15px;
}
.highlight {
    padding: 1px 3px;
}
.highlight.dark {
    background: #333333;
    color: #fff;
}
.highlight.redish {
    background-color: #ffcccf;
    color: #A14A40;
}
.highlight.greenish {
    background-color: #E2F2CE;
    color: #466840;
}
.highlight.bluish {
    background-color: #D7E7F5;
    color: #5E6984;
}
.highlight.yellowish {
    background-color: #FFF9CC;
    color: #736B4C;
}
.tag-title {
    font-size: 13px;
    font-weight: 600;
    background-image: none;
    float: left;
    line-height: 18px;
    margin: 30px 20px 0 0;
}
ul.tags {
    padding: 0 0 10px;
    position: relative;
    overflow: hidden;
    list-style: none;
}
ul.tags li {
    display: inline;
    float: left;
    height: 16px;
    line-height: 20px;
    margin: 30px 20px 0 0;
}
ul.tags a {
    color: #c7c7c7;
}
.author-bio {
    clear: both;
    margin: 30px 0 0;
    overflow: hidden;
    padding: 15px 0 15px;
    position: relative;
}
.author-bio img {
    float: left;
    margin: 0 25px 0 0;
}
.authorp {
    float: left;
    width: 82%;
}
.authorp h2 {
    margin-top: 0;
    color: #C7C7C7;
}

.author-bio p {
    margin-bottom: 0;
}
.commentlist {
    list-style-type: none;
    margin: 30px 0 40px;
}
.comment {
    margin-top: 35px;
    position: relative;
    padding: 0;
    display: inline-block;
}
.commentwrap {
    margin: 0 0 0 100px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #EFEFEF;
}
.avatar {
    left: 0;
    position: absolute;
    top: 0;
}
.metacomment {
    margin-bottom: 10px;
    padding: 0;
}
.metacomment span {
    font-weight: bold;
    margin: 0 5px 0 0;
}
a.c_reply {
    font-weight: 600;
    background: #f9f9f9;
    padding: 2px 5px;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
ul.threaded {
    margin-left: 75px;
    list-style: none;
    padding: 0;
}
#commentform div input[type="submit"] {
    float: right!important;
    cursor: pointer!important;
    margin-top: 5px;
    border: 0 none;
}
#commentform fieldset {
    clear: both;
}
.widget {
    overflow: hidden;
    margin-bottom: 55px;
}
.search-form{
	position: relative;
}
.search-form input[type="text"] {
    position: relative;
    padding: 4% 3%;
    color: #686868;
    display: block;
    width: 92%;
}
h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
.search-form button[type="submit"] {
    background: none;
    border: none;
    position: absolute;
    top: 40%;
    right: 10%;
    margin-top: -9px;
    cursor: pointer;
    font-size: 14px;
    color: #686868;
}
.sidebar-post {
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}
.sidebar-post h5 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    float: left;
}
.sidebar-post span {
    float: left;
    clear: both;
    width: 100%;
    font-size: 14px;
}
.sidebar-post span a {
    color: #fe7e17;
}
.widget ul{
    list-style: none;
    padding: 0;
}
.widget ul li {
    padding: 3px 0 3px 0;
}
.widget a{
    color:#444;
}
.widget a:hover {
    color: #eeee22;
}
.tags ul li {
    float: left;
    margin: 0 4px 4px 0;
    padding: 0;
}
.tags ul li a {
    display: block;
    padding: 6px 13px;
    background: #f9f9f9;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}
.tags ul li a:hover {
    background: #eeee22;
    color:#444;
    text-decoration: none;
}
.pagenav {
    text-align: center;
    vertical-align: middle;
    margin-top: 55px;
    font-size: 14px;
    font-weight: 600;
}
span.pages {
    display: inline-block;
    padding: 9px 15px;
    font-weight: 600;
}
span.current {
    background: #FE7E17;
    border: 1px solid #FE7E17;
}
span.current {
    color: #fff;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    width: 40px;
}
.pagenav a {
    color: #999;
    display: inline-block;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    height: 38px;
    line-height: 38px;
    width: 40px;
    border: 1px solid #ccc;
}
.pagenav a:hover {
    background: #fe7e17;
    color: #fff;
    border: 1px solid #FE7E17;
}

/* slider-serenia - CAROUSEL */
#slider-serenia{
        #carousel-arebi{
            .carousel-indicators{
                bottom: 0;
                li{
                    width: 26px;
                    height: 6px;
                    margin: 0;
                    cursor: pointer;
                    border-radius: 0;
                    border-color: #fff;
                    background: transparent;
                }
                li.active{
                    background: rgba(255,255,255,.8);
                }
            }
            .carousel-inner{
                height: 1080px;
                .carousel-caption{
                    h1{
                        padding: 20px;
                        color: #fff;
                        font-size: large;
                        font-weight: 500;
                        font-size: 38px;
                        opacity: 1;
                        -webkit-animation-delay: 4s;
                        -moz-animation-delay:4s;
                        animation-delay:4s;
                    }
                    hr{
                       width: 650px;
                        opacity: 1;
                        -webkit-animation-delay: 2s;
                        -moz-animation-delay: 2s;
                        animation-delay: 2s;
                    }
                }
                .carousel-tagline{
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                    h3{
                        color: #fff;
                        font-size: 64px;
                        font-weight: 100;
                        width: 500px;
                        line-height: 1;
                        float: right;
                        margin: 100px;
                        &:first-child{
                            opacity: 1;
                            -webkit-animation-delay: 3s;
                            -moz-animation-delay: 3s;
                            animation-delay: 3s;
                        }
                    }
                }
                .signature{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-signature-1920x1080.png) no-repeat center;
                }
                .quantum{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-quantum-1920x1080.png) no-repeat center;
                }
                .venture{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-venture-1920x1080.png) no-repeat center;
                }
            }
            .carousel-control.right,
            .carousel-control.left{
                background-image: none;
                span {
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    @media screen and (max-width: 425px) {
                        right: 10px;
                    }
                }
            }
        }
        .carousel{
            .item{
                min-height: 500px; 
                height: 100%;
                width: 100%; 
            }
            .icon-container {
                display: inline-block;
                font-size: 25px;
                line-height: 25px;
                padding: 1em;
                text-align: center;
                border-radius: 50%;
            }
        }
}

.kegiatan-arebi{
    display:none;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    margin-right: 4%;
}

#loadMore-arebi {
    display: block;
    color: #fff;
    
}
#loadMore-arebi:hover {
    color: #fff;
    text-decoration: none;
}
#loadMore-arebi:focus {
    color: #fff;
    text-decoration: none;
}

#arebi-map{
    iframe{
        width: 100%;
        pointer-events: none;
    }
}
#footer {
    span.blue-r123 > a {
        color: #2980b9 !important;
        font-weight: bold;
    }
    .column-copy {
        @media only screen and (max-width: 768px) {
            text-align: center;
        }
    }
    .column-last {
        @media only screen and (max-width: 768px) {
            text-align: center;
            ul#social {
                padding-left: 0px !important;
                float: none !important;
                li {
                    margin: 0px 10px;
                    display: inline-block !important;
                    a {
                        margin: 0px;
                    }
                }

            }
        }
    }
}


// media query keaggotaan 
@media only screen and (max-width: 600px) {
    section#timeline article div.inner h2{
        font-size: 16px;
    }   
}

@media only screen and (width: 1366px) {
    article.item {
        width: 337px;
    }
}
