.page-title-subtitle {
    border-bottom: 1px solid #efefef;
    padding: 60px 0;
    margin-bottom: 50px;
    overflow: hidden;
}

.page-title-subtitle h2 {
    font-size: 48px;
    line-height: inherit;
    margin-bottom: 13px;
    font-weight: 300;
    color: #444;
    @media only screen and (max-width: 425px) {
        font-size: 40px;
        line-height: 62px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.page-title-subtitle h3 {
    font-size: 24px;
    color: #999;
    padding-top: 20px;
    margin-bottom: 0px;
    @media only screen and (max-width: 425px) {
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* slider-serenia - CAROUSEL */
#slider-serenia{
        #carousel-arebi{
            .carousel-indicators{
                bottom: 0;
                li{
                    width: 26px;
                    height: 6px;
                    margin: 0;
                    cursor: pointer;
                    border-radius: 0;
                    border-color: #fff;
                    background: transparent;
                }
                li.active{
                    background: rgba(255,255,255,.8);
                }
            }
            .carousel-inner{
                height: 1080px;
                .carousel-caption{
                    h1{
                        padding: 20px;
                        color: #fff;
                        font-size: large;
                        font-weight: 500;
                        font-size: 38px;
                        opacity: 1;
                        -webkit-animation-delay: 4s;
                        -moz-animation-delay:4s;
                        animation-delay:4s;
                    }
                    hr{
                       width: 650px;
                        opacity: 1;
                        -webkit-animation-delay: 2s;
                        -moz-animation-delay: 2s;
                        animation-delay: 2s;
                    }
                }
                .carousel-tagline{
                    width: 100%;
                    bottom: 0;
                    position: absolute;
                    h3{
                        color: #fff;
                        font-size: 64px;
                        font-weight: 100;
                        width: 500px;
                        line-height: 1;
                        float: right;
                        margin: 100px;
                        &:first-child{
                            opacity: 1;
                            -webkit-animation-delay: 3s;
                            -moz-animation-delay: 3s;
                            animation-delay: 3s;
                        }
                    }
                }
                .signature{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-signature-1920x1080.png) no-repeat center;
                }
                .quantum{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-quantum-1920x1080.png) no-repeat center;
                }
                .venture{
                    background: url(https://d3p0bla3numw14.cloudfront.net/projects/serenia-hill/banner/bg-venture-1920x1080.png) no-repeat center;
                }
            }
            .carousel-control.right,
            .carousel-control.left{
                background-image: none;
                span {
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    @media screen and (max-width: 425px) {
                        right: 10px;
                    }
                }
            }
        }
        .carousel{
            .item{
                min-height: 500px; 
                height: 100%;
                width: 100%; 
            }
            .icon-container {
                display: inline-block;
                font-size: 25px;
                line-height: 25px;
                padding: 1em;
                text-align: center;
                border-radius: 50%;
            }
        }
}
